<h1 style="margin-top: 100px; margin-bottom: 100px">Salut!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
