{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="container style="margin-top: 100px"">

    <div class="row">
    
        <div class="col-12 ">
            <a class="btn btn-dark" href="{{ path('profile_detail') }}">Revenir au profil</a>
        </div>

        <div class="col-sm-12 mt-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Envoyer un email au support</h5>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary mt-3" type="submit">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
  </div>
 
{% endblock %}