{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-secondary mt-3">
	<span class="btn-label">
		<i class="fa fa-thumbs-up me-1"></i>
	</span>
	{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
