{% extends 'admin/base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <div class="container py-5">
            <div class="row">
                <div class="col-12">
                    <a class="btn btn-dark" href="{{ path('admin/product_index') }}"><span class="btn-label"><i class="fa fa-chevron-left"></i></span>Retour</a>
                </div>
    <div class="col-sm-12 mt-3">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title"><span class="btn-label"><i class="fad fa-tools"></i></span>Gérer les produits</h5>
					</div>
					<div class="card-body">

    {{ include('admin/admin_product/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('admin/admin_product/_delete_form.html.twig') }}



{% endblock %}

