{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<a class="navbar-brand btn btn-dark" href="{{path("home")}}">Retour à l'accueil</a>
				<section class="step-wizard pb-5">
					<ul class="step-wizard-list">
						<li class="step-wizard-item">
							<span class="progress-count">1</span>
							<span class="progress-label">Valider le panier</span>
						</li>
						<li class="step-wizard-item">
							<span class="progress-count">2</span>
							<span class="progress-label">Finaliser la commande</span>
						</li>
						<li class="step-wizard-item">
							<span class="progress-count">3</span>
							<span class="progress-label">Success</span>
						</li>
					</ul>
				</section>
				<h1>
					Merci pour votre commande.
				</h1>
			</div>
		</div>
	</div>


{% endblock %}
