{% extends "base.html.twig" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col">
				<a class="navbar-brand btn btn-dark" href="{{path("home")}}">Retour à l'accueil</a>

				<h1>
					Merci pour votre commande.
				</h1>
			</div>
		</div>
	</div>


{% endblock %}
