<form method="post" action="{{ path('admin/category_delete', {'id': category.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette catégorie?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
	<button class="btn btn-danger mt-3"> <span class="btn-label"><i class="fa fa-remove"></i></span>Supprimer</button>
</form>
